<%- include('./partials/header.ejs'); %>
    <div class="container">
        <header class="jumbotron">
            <h1>Products page</h1>
            <a class="btn btn-primary btn-lg" href="/products/new">Create new product post.</a>
        </header>


        <div class="container">
            <div class="row">
                <% products.forEach(function(products){ %>
                    <div class="col-sm-3">
                        <div class="img-thumbnail">
                            <img src=" <%=products.image %>">
                            <div class="caption-full">
                                <h4>
                                    <%= products.name %>
                                </h4>
                                <p>
                                        <a href="/products/<%=products._id%>" class="brn btn-lg btn-primary">More information</a>
                                </p>
                            </div>
                        </div>

                    </div>
                    <% });%>
            </div>
        </div>


    </div>

    <a href="/">Back</a>


    <%- include('./partials/footer.ejs'); %>