<%- include('../partials/header.ejs'); %>

<title><%= products.name %></title>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="lead">Contents</p>
                <div class="list-group">
                    <li class="list-group-item">Post</li>
                    <li class="list-group-item">Comments</li>
                    <li class="list-group-item">Item 3</li>
                </div>
            </div>
            <div class="col-md-9">
                <div class="img-thumbnail" style="margin: 10px">
                    <div class="caption-full">
                        <h1>
                            <%= products.name %>
                        </h1>
                    </div>
                    <img src="<%= products.image %>">
                    <p>
                        <%= products.description %>
                    </p>
                    <p>
                        Uploaded by
                        <strong>
                            <%= products.author.username %>
                        </strong>
                    </p>
                    <% if(activeUser && products.author.id.equals(activeUser._id)){ %>
                        <a class="btn btn-warning" href="/products/<%=products._id%>/edit">Edit product</a>
                        <form action="/products/<%=products._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete product</button>
                        </form>
                        <% } %>
                </div>
                <div class="well">
                    <div>
                        <a class="btn btn-primary" href="/products/<%= products._id %>/comments/new">Add comment</a>
                    </div>
                    <% products.comments.forEach(function(comment, i){ %>
                        <div class="row">
                            <div class="col-md-12">
                                <strong>
                                    <%= comment.author.username %>
                                </strong>
                                <div class="float-right">
                                    <p><%= fromNow[i] %></p>
                                </div>
                                <p>
                                    <%= comment.text %>
                                </p>
                                <% if(activeUser && comment.author.id.equals(activeUser._id)){ %>
                                    <a class="btn btn-warning"
                                        href="/products/<%=products._id%>/comments/<%=comment._id%>/edit">Edit
                                        commennt</a>
                                    <form action="/products/<%=products._id%>/comments/<%=comment._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger">Delete comment</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>














    <%- include('../partials/footer.ejs'); %>