<%- include('../partials/header.ejs'); %>

    <title>
        <%= products.name %>
    </title>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Content about the post. -->
                <div class="img-thumbnail" style="margin: 10px">
                    <div class="caption-full">
                        <h1 class="display-1">
                            <%= products.name %>
                        </h1>
                        <p>
                            Uploaded by
                            <strong>
                                <!-- Displays the name of the author of the post. -->
                                <%= products.author.username %>
                            </strong>
                        </p>
                    </div>
                    <img src="<%= products.image %>">
                    <p class="lead">
                        <%= products.description %>
                    </p>
                    <% if(activeUser && products.author.id.equals(activeUser._id)){ %>
                        <a class="btn btn-warning" href="/products/<%=products._id%>/edit">Edit product</a>
                        <form action="/products/<%=products._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete product</button>
                        </form>
                        <% } %>
                </div>

                <!-- Comments section -->
                <div class="well">
                    <div>
                        <a class="btn btn-primary" href="/products/<%= products._id %>/comments/new">Add comment</a>
                    </div>
                    <% products.comments.forEach(function(comment, i){ %>
                        <div class="row" style="border-bottom: 1px solid grey;">
                            <div class="col-md-12">
                                <div class="float-right">
                                    <p>
                                        <%= fromNow[i] %>
                                    </p>
                                </div>
                                <dt class="text-truncate">
                                    <%= comment.author.username %>
                                </dt>
                                <dd>
                                    <%= comment.text %>
                                </dd>
                                <% if(activeUser && comment.author.id.equals(activeUser._id)){ %>
                                    <a class="btn btn-warning"
                                        href="/products/<%=products._id%>/comments/<%=comment._id%>/edit">Edit
                                        commennt</a>
                                    <form action="/products/<%=products._id%>/comments/<%=comment._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-danger">Delete comment</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% }); %>
                </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer.ejs'); %>